<!DOCTYPE html>
<html lang="en">
<!--load static files-->
  {%  load static %}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <title> Boutique</title>-->
    <title>IHA Designs</title>
<!--check path    -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<!--header-->

<!--header here-->
    <div class="header">
        <div class="container">
        {% block menu %}
           {% include 'menu.html' %}
         {% endblock menu %}
        </div>

<!--banner here-->
      {% block banner %}
{% include 'banner_layout.html'%}
      {% endblock banner %}

        </div>
    </div>


<!--homepage_content here-->

{% block content %}
        <!-- Featured Categories -->
        <!-- Featured Products -->
{% endblock content %}


    <!-- Footer here -->

{%  block footer%}
{% include 'footer.html'%}
{% endblock footer%}


    <!-- javascript -->
//scripts for menu
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>
{% block extrascripts%}

{% endblock %}

</body>

</html>