  {%  load static %}

<!--  load custom tag here-->
    {%  load chunks %}

<!--to show all products-->

<div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
        </div>



    {% for items in products|chunks_tag:4 %}   <!--list 4 items-->
        <div class="row">
<!--            Show products-->
            {% for i in items %}
                 <div class="col-4">

                    <a href="{% url 'product_detail' i.id  %}" > <!-- Link to the product detail page -->
                        <img src="{{i.image.url}}"  alt="{{ i.title }}"></a>
                     <!-- Display product details -->
                    <h4>{{i.title}}</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>₹{{i.price}}</p>
                </div>
             {% endfor %}
        </div>
     {% endfor %}
            <!-- Pagination -->
        <div class="page-btn">
            {% for i in products.paginator.page_range %}
                <a href="?page={{i}}"> <span>{{i}}</span></a>
<!--             <a href="?page=1"> <span>1</span></a>-->
<!--             <a href="?page=2"> <span>2</span></a>-->
<!--             <a href="?page=3"> <span>3</span></a>-->
<!--             <a href="?page=4"> <span>4</span></a>-->
            {% endfor %}
        </div>
    </div>
</div>


<!--        <div class="row">-->
<!--            <div class="col-4">-->
<!--                   <div class="rating">-->
<!--                    <i class="fa fa-star"></i>-->
<!--                    <i class="fa fa-star"></i>-->
<!--                    <i class="fa fa-star"></i>-->
<!--                    <i class="fa fa-star"></i>-->
<!--                    <i class="fa fa-star-o"></i>-->
<!--                </div>-->
<!--                <p>$50.00</p>-->
<!--            </div>-->

